.fa.fa-cog {
    font-size: 50px;
    color: white; 
    padding: 30px 0px 0px 20px;
}

.fa.fa-angle-left {
    font-size: 60px;
    color: white;
    padding: 30px 0px 0px 20px;
}

.fa.fa-angle-right {
    font-size: 60px;
    color: white; 
    padding: 0px 0px 0px 20px;
}

.fa.fa-search {
    font-size:50px;
    color:black;
}

.fa.fa-plus {
    font-size: 60px;
    color: white;
    padding: 0px 0px 0px 20px;
}

.fa.fa-book {
    font-size:50px;
    color:black;
}

.fa.fa-home {
    font-size:50px;
    color:black;
}

.nav_button {
    font-family: 'Life Savers', sans-serif; 
    color: white;
    font-size: 10px;
}

.fa.fa-bell-o {
    font-size: 50px;
    color: white;
     padding: 30px 0px 0px 10px;
}

#search {
    font-size:50px;
    color:white;
}

