@media screen  and (max-width: 600px){

    html, body {
        width: 395px;
        overflow: auto;
        overflow-x: hidden;
    }

    


    body {
        background: rgb(28,28,28);
        background: linear-gradient(180deg, rgba(28,28,28,1) 6%, rgba(147,147,147,1) 93%, rgba(167,167,172,1) 100%);
        border : solid black 10px;
        min-height: 950px;
        min-width: 395px;
        font-family: 'Life Savers', sans-serif;
    }

    header img {
        width: 80px;
        height: 80px;
        padding-left: 20px;
        padding-top: 10px;
    }
    

    header h1 {
        font-family: 'Life Savers', sans-serif;
        color: white;
        padding: 10px 0px 0px 10px;
    }

    header {
        width: 428px;
        min-height: 100px;
        border-bottom: solid black 1px;
        margin-left: 0%;
        display: flex;
    }

   .user-info {
       display: flex;
   }

   .user-info  #avatar{
        padding: 20px 0px 10px 20px;
    }

    .user-info  h1{
        font-size: 25px;
        padding: 35px 0px 10px 20px;
    }

    ::-webkit-scrollbar {
        width: 0;
    }

    footer {
        background: rgb(28,28,28);
        background: linear-gradient(0deg, rgba(28,28,28,1) 6%, rgba(147,147,147,1) 93%, rgba(167,167,172,1) 100%);
        min-height: 95px;
        border-top: solid black 1px;
    }

    footer ul {
        list-style-type: none;
        display: flex;
        margin-left: -50px;
    }

    footer ul li {
        padding-left: 70px;
    }

    section h2 {
        color: white;
    }

    .settings {
        height: 800px;
        padding-left: -30px; 
    }

  

    .settings ul {
        padding-top: 20px;
        display: grid;
        padding-left : 20px;
        list-style-type: none;
        white-space: nowrap;
    }

    .settings ul li {
        padding-top: 10px;
        text-align: center;
        padding-bottom: 80px;
    }

    .settings ul li span {
        padding-bottom: 80px;
    }

    

    ul li img {
        width: 120px;
        height: 120px;
        border: solid black 5px;
    }

    .description {
        white-space: pre-wrap;
    }


    .albom {
        font-size: 22px;
    }

    .author {
        font-size: 26px;
        color: rgb(195, 173, 173)
    }

    section h2 {
        margin: 5px 0px 0px 0px;
    }


    .settings span{
        margin-left: -170px;
        color: white;
        font-size: 40px;
    }

        
    .select-dropdown,
    .select-dropdown * {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin-left: 50px;
        margin-top: -5px;
        position: relative;
        box-sizing: border-box;
        width: 270px;
        height: 50px;
        background-color: #888;
    }

    .select-dropdown {
    position: relative;
    margin-left: 5px;
    background-color: #888;
    border-radius: 4px;
    }




    .select-dropdown select {
    padding-left: 20px;  
    font-size: 1rem;
    font-weight: normal;
    font-family:  'Life Savers', sans-serif;
    font-size: 30px;
    width: 270px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }



    .select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
    }
    .select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    }



    .sort-menu {
        display: flex;
        padding: 30px 0px 0px 40px;
    }

    i.fa.fa-arrow-down, i.fa.fa-arrow-up {
        font-size: 40px;
        color: white; 
    }

}