html, body {
    margin: 0px;
    height: 100vh;
    min-height: 100%;
}


.key {
    font-size: 40px;
}

.value {
    font-size: 40px;
    color: white;
    max-width: 100%;
    overflow: hidden;
}

.header-dark {
    padding-left: 35%;
}

::-webkit-scrollbar {
    display: none;
}



.user__info {
    flex: 1 1 auto;
    height: 61vh;
    min-width: calc(100% - 10px * 2);
    margin-left: 50px;
    padding-top: 50px;
}

.user__name {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: calc(100% - 10px * 2);
    min-height: 20vh;
}

.change_email {
    min-width: 100%;
    margin-left: 50%;
}


.change_email_button {
    font-family: 'Life Savers', sans-serif;
    font-size: 40px;
    position: fixed;
    border-radius: 40px;
    width: 20%;
    height: 10vh;
    color: black;
    background-color: rgba(171, 160, 160, 0.807);
    bottom: 45%;
    left: 75%;
}


.user__email__items {
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.user__email {
    display: flex;
    flex-direction: row;
    justify-content: start;
    min-width: calc(100% - 10px * 2);
    min-height: 20vh;
}

.user__subscription {
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-width: calc(100% - 10px * 2);
    min-height: 25vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}




@media only screen and (max-width: 500px){
    
    .user__email__items {
        min-width: 60%;
    }

    .change_email {
        width: 30px;
        min-width: 30px;
    }

    .header-dark h1 {
        font-size: 30px;
        margin: 0 0px 0px -20px;
    }
    
    .key {
        margin-left: -10px;
    }

    .value {
        margin-left: -10px;
    }

    .change_email_button {
        position: fixed;
        left: 280px;
        width: 30%;
        font-size: 20px;
        top: 47%;
    }
}