* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Life Savers', sans-serif;
}

html, body {
    min-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

input[type=submit] {
    font-family: 'Life Savers', sans-serif;
    font-size: 30px;
    background-color: #5b5656;
    border: 1px solid black ;
    color: white;
    padding: 6px 32px;
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20px;
    min-height: 65px;
    max-width: 150px;
}

.favorites-icon {
    cursor: pointer;
    font-size: 30px;
    color: #1db954;
}

.spinner {
    width: 100%;
    text-align: center;
    min-height: 60px;
}

.list-wrapper:first-child {
    margin-top: 20px;
}

.list-wrapper:last-child {
    margin-bottom: 20px;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}



.scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent);
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 60%);
    background-color: #CCCCCC;
}


.image_wrapper {
    position: relative;
}

.play-button {
    display: none;
    position: absolute;
    color: white;
    font-size: 80px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center;
}

.image_wrapper:hover > .play-button{
    display: flex;
}

.spinner .circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.scroll {
    flex: 1 1 auto;
    height: 0;
    overflow-y: scroll;
    width: 100%;
    padding: 0 50px 50px;
}


.header-dark {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    max-height: 170px;
    border-bottom: 1px black solid;
    flex-direction: row;
    padding: 0 20px 0 20px;
}


.fa.fa-home {
    font-size: 70px;
    color: black;
}

.fa.fa-trash {
    font-size: 30px;
    cursor: pointer;
}



.extra-buttons {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

 .image_wrapper:hover .item__avatar {
    opacity: 0.1;
}


.fa.fa-search {
    font-size: 70px;
    color: black;
}


.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    min-width: 240px;
    position: relative;
}


.fa.fa-book {
    font-size: 70px;
    color: black;
    padding-bottom: 15px;
}


.wrapper {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(28, 28, 28, 1) 6%, rgba(147, 147, 147, 1) 93%, rgba(167, 167, 172, 1) 100%);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 1) inset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    flex: 1;
}

.footer-dark {
    background: linear-gradient(0deg, rgba(28, 28, 28, 1) 6%, rgba(147, 147, 147, 1) 93%, rgba(167, 167, 172, 1) 100%);
    max-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


.footer__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.avatar {
    width: 150px;
    height: 150px;
    margin: 10px 0 10px 0;
    border: solid black 1px;
}

a {
    cursor: pointer;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.row-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.value {
    height: 50px;
}


.row-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
    background-color: #CCCCCC;
}

.row-wrapper::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.row-wrapper::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.item__caption-wrapper {
    display: flex;
    flex-direction: column;
}

.item__caption-item_albom {
    font-family: 'Life Savers', sans-serif;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.807);
    text-align: center;
    padding: 10px;
}

.item__caption-item_author {
    font-family: 'Life Savers', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgba(33, 32, 32, 0.6);
    padding: 10px;
}

.fa.fa-arrow-down {
    font-size: 80px;
}


.fa.fa-arrow-up {
    font-size: 80px;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    padding-top: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 170px;
    right: 0;
    min-width: 150px;
    z-index: 1;
    background: #f1f1f1 linear-gradient(rgba(74, 69, 69, 0.8), rgb(61, 58, 58));
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    display: block;
    font-size: 28px;
}

.nav-button-text {
    font-family: 'Life Savers', sans-serif;
    color: white;
    padding-left: 0;
    font-size: 20px;
}


h1 {
    font-family: 'Life Savers', sans-serif;
    color: white;
    font-size: 52px;
}

h2 {
    font-family: 'Life Savers', sans-serif;
    color: white;
    font-size: 42px;
    text-align: center;
}


a {
    text-decoration: none;
}

figure {
    margin: 0;
}


@media only screen and (max-width: 576px) {
    .avatar {
        width: 90px;
        height: 90px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 2em;
        text-align: center;
    }

    .dropdown-content {
        top: 110px;
        min-width: 90px;
        width: 90px;
    }

    .dropdown-content a {
        font-size: 15px;
    }


    .fa.fa-angle-right {
        font-size: 75px;
        color: black;
        padding-top: 25px;
        padding-left: 50px;
    }

    .item {
        width: 150px;
        min-width: 150px;
    }


    .item__caption-item_albom {
        font-family: 'Life Savers', sans-serif;
        font-size: 15px;
        color: rgba(0, 0, 0, 0.807);
    }

    .item__caption-item_author {
        font-family: 'Life Savers', sans-serif;
        font-size: 10px;
        color: rgba(33, 32, 32, 0.6);
    }
}